h1{
font-size: 2.5em; 
}

h2{
font-size: 1.5em; 
}

.detail{
max-width: 40em;
min-width: 20em;
padding: 1.2em;
border: 1px solid black;
margin: 0 auto;
}

.detail p{
font-size: 1.3em;
line-height: 1.3em;
}

