body{
font-family: 'nexa_boldregular', Georgia, Serif;
margin:0;
}

h1{
font-size: 2em;
font-family: 'nexa_boldregular', Georgia, Serif;
text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.1);
color:#2F2F2F;    
}

h2{
font-size: 1.5em;
font-family: 'nexa_boldregular', Georgia, Serif;
text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.1);
color:#2500A4;
}

a{
text-decoration: none;
font-family: 'nexa_boldregular', Georgia, Serif;
color: #00D66C;
}

main{
background: url(images/backgrounddark.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

main > header{
width: 100%;
height: auto;
background-color: white; 
}

main > header > nav{
height: 4em; 
}

main > header > nav > ul {
  display: flex;
  align-items: center;
}

main > header > nav > ul > li{
display: inline-block;
font-size: 1.2em;
margin-right: 1.7em;
}

#filter{
margin-top:1em;
}

#filter nav{
margin: 0 auto;
}

#filter nav ul{
list-style-type: none;
padding-left: 2.4em;
}

#filter > nav > ul > li{
margin-top:1.3em;   
display: inline-block;
}

#filter > nav > ul > li > a{
color:#FF2761;
padding: 0.4em 1.2em;
border-radius: 2em;
background-color:white;
-webkit-box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
}

input { 
width: 15em;
height: 1em;
padding: 1em;
margin-left: 2em;
border-radius: .4em;
border-top-right-radius:0;
border-bottom-right-radius:0;
border:none;
font-family: 'nexa_boldregular', Georgia, Serif;
}

.zoek{
border-top-left-radius: 0 !important;
border-bottom-left-radius: 0 !important;  
box-shadow: none !important;
padding-top: 4px !important;
padding-bottom: 9px !important;
margin-left: -5px;
background-color:#FF2761 !important;
color:white !important;
}

::-webkit-scrollbar { 
    display: none; 
}

#overzicht{
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#overzicht > article{
flex: 0 0 auto;  
width: 20em;
height: auto;
background-color: white;
padding: 2em;
margin: 2em 2em;
border-radius: .4em;
-webkit-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
transition: all .2s ease-in-out;
}

#overzicht > article:hover{
transform: scale(1.01);
}

#overzicht p{
font-size:1.1em;
font-family: 'nexa_boldregular', Georgia, Serif;;
}

#overzicht > article > nav{
margin-top: 2em;
height: 2.5em;
}

#overzicht > article > nav > ul{
list-style-type: none;
padding: 0;
display: flex;
}

#overzicht article nav ul li:nth-child(1){
margin-right: 1em;
}

#overzicht article nav ul li:nth-child(2){
margin-right: 1em;
}

#overzicht > article > nav{
font-size: 1em;
}

#overzicht > article > footer{
margin-top: 1em;
font-size: .8em;
}

#overzicht h1{
font-size: 3em;
font-family: 'nexa_boldregular', Georgia, Serif;
text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
color:white;
margin-left: 1em;
}

.readmore{
font-family: 'nexa_boldregular', Georgia, Serif;;
font-size: 1em; 
padding: 0.4em 1.3em;
border-radius: 2em;
background-color:#00D66C;
-webkit-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
-moz-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
color: white;    

}

.readmore:hover{
-webkit-box-shadow: 0px 0px 0px 0px rgba(0,136,69,1);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,136,69,1);
box-shadow: 0px 0px 0px 0px rgba(0,136,69,1); 
background-color:#008845;    
}


#inlog{
height: 60em;  
}

#inlog fieldset{
width: 25em;
height:auto;
background: rgba(255, 255, 255, 0.9);
border: none;
border-radius:2em;
padding: 2em;
box-sizing: border-box;
margin:0 auto;
margin-top:5em;
}

#inlog fieldset ul{
  list-style-type: none;
  padding:0;
}

#button_center{
margin: 0 auto !important;
width: 8em;
margin-top: 2em !important;  
}

#inlog fieldset li{
  margin:1em 0;
}

.inloggen{
font-family: 'nexa_boldregular', Georgia, Serif;;
font-size: 1em; 
padding: 0.6em 2em;
border-radius: 2em;
background-color:#00D66C;
-webkit-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
-moz-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
color: white;    
}

/* Media query */

@media screen and (max-width: 64em) {

#overzicht{
  display: block;
}

#overzicht{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#overzicht > article{
width: 20em;
height: auto;
background-color: white;
padding: 2em;
margin:1em;
border-radius: .4em;
-webkit-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.60);
transition: all .2s ease-in-out;
}

input {
margin-left: 0em;
}    
    
#overzicht h1{
display: none;
}    

}

/* Media query */

@media screen and (max-width: 44em) {
main{
width: 100%;
}

main > header{
width: 100%;
height: auto;
background-color: white; 
}

main > header > nav{
width: 14em; 
margin:0 auto; 
}

main > header > nav > ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}

main > header > nav > ul > li{
display: inline-block;
font-size: 1.2em;
margin-right: 0;
}

main > header > nav > ul > li:nth-child(1){
margin-right: 1em;
}

#filter{
margin-top:1em;
}

#filter nav{
margin: 0 auto;
width:21.1em;
}


#filter nav ul{
list-style-type: none;
padding: 0;
}

#filter > nav > ul > li{
margin-top:1.8em;   
display: inline-block;
}

#filter > nav > ul > li > a{
padding: 0.4em 1.2em;
border-radius: 2em;
background-color:white;
-webkit-box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
-moz-box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
box-shadow: 0px 2px 0px 0px rgba(207,207,207,1);
}

.middle{
margin-left:2.6em; 
}

#overzicht > article{
width: 80%;
height: auto;
background-color: white;
display:block;
padding: 2em;
margin: 0 auto;
margin-top:2em;
border-radius: .4em;
-webkit-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.20);
box-shadow: 0px 0px 55px -10px rgba(0,0,0,0.20);
transition: all .2s ease-in-out;
}

#overzicht > article:hover{
transform: scale(1.01);
}

#overzicht > article > nav{
margin-top: 2em;
height: 2.5em;
}

#overzicht h1{
display: none;
}

#overzicht > article > nav{
font-size: 1em;
}

#overzicht > article > footer{
margin-top: 1em;
font-size: .8em;
}

#inlog{
height: 60em;  
}

#inlog fieldset{
width: 80%;
height:auto;
background: rgba(255, 255, 255, 0.9);
border: none;
border-radius:2em;
padding: 2em;
box-sizing: border-box;
margin:0 auto;
margin-top:5em;
}


#inlog fieldset ul{
  list-style-type: none;
  padding:0;
}

#button_center{
margin: 0 auto !important;
width: 8em;
margin-top: 2em !important;  
}

#inlog fieldset li{
  margin:1em 0;
}

.inloggen{
font-family: 'nexa_boldregular', Georgia, Serif;;
font-size: 1em; 
padding: 0.6em 2em;
border-radius: 2em;
background-color:#00D66C;
-webkit-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
-moz-box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
box-shadow: 0px 4px 0px 0px rgba(0,136,69,1);
color: white;    
}

}

#detail{
max-width: 40em;
min-width: 20em;
padding: 1.2em;
border: 1px solid black;
margin: 0 auto;
}

#detail p{
font-size: 1.3em;
line-height: 1.3em;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('fonts/nexa_light-webfont.woff2') format('woff2'),
         url('fonts/nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
